.sideNav{
  background-color: black;
  float: left;
  position: absolute;
  top: 100px;
  left: 100px;

}
.Menu{
	color: white;
}
.f{
 float: top-right;
  position: absolute;
  top: 55px;
  right: 150px;	
}
.g{
 float: center;
  position: absolute;
  top: 300px;
  right: 350px;	
}
.style{
	top: 700px;
}
